/*  your css code here. If applicable */
.container{
	padding:10px;
	Background-color: #f5f5f5
}
.testimonial{
	padding:10px;
	Border:10px solid white;
	Background-color:#f5f5f5;
}
.Author{
	text-align:right;
	font-style:italic;
}
